.search-section {
  position: relative;
  .search {
    border: 2px solid #777;
    border-radius: 25px;
    padding: 5px 5px 5px 35px;

    &:focus {
      outline: none;
    }
  }
  .searchIcon {
    position: absolute;
    top: 7px;
    left: 20px;
    color: #777;
  }
  label {
    margin: 0 25px;
    input {
      margin-right: 15px;
      transform: scale(1.7);
    }
  }
}



.btn-footer{
    text-align: center;
    margin-top: 40px;
    button{
        width: 100px;
    }
}
